.fail {
    background: rgb(245, 245, 245);
    width: 100%;
    height: 100vh;
}

.fail-block {
    background: #fff;
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

.info h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 40px auto;
}
